.SearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: var(--primary-1-color);
    
    button{
        flex:1;
        width: 5rem;
        height: 1.5rem;
        background-color: var(--terciary-1-color);
        border-radius: var(--border-radius-big);
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .SearchBar__Container{
        flex:5;
        width: 100%;
    }

    .SearchBar__Container__Input{
        border: 2px solid red;
        min-width: 1rem;
        width: 80%;
        height:  1.5rem;
        padding-left: 15px !important;
        background-color: var(--terciary-1-color);
        border-radius: var(--border-radius-big);
        padding-left: 10px;
        font-size: 18px;
        font-weight: 500;
        outline: none;
    }
    .fa-magnifying-glass{
        font-size: 25px;
        font-weight: 600;
        position: relative;
        left: -35px; 
        top: 6px;   
    }

}

.SearchBar__Container{
    display: flex;
}