.navbar__button {
    margin-right: 0.75rem; /* Equivalente a Tailwind: mr-3 */
    border-radius: 0.375rem; /* Equivalente a Tailwind: rounded */
    padding: 0.4rem 1.0rem; /* Equivalente a Tailwind: px-6 pb-2 pt-2.5 */
    font-size: 0.75em; /* Equivalente a Tailwind: text-xs */
    font-weight: 500; /* Equivalente a Tailwind: font-medium */
    color: var(--primary-2-color); /* Equivalente a Tailwind: text-primary */
    transition-property: background-color, color; /* Equivalente a Tailwind: transition */
    transition-duration: 0.15s; /* Equivalente a Tailwind: duration-150 */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Equivalente a Tailwind: ease-in-out */
    max-height: 80px;
}

  .navbar__alternativeButton {
    background-color: var(--secondary-1-color);
    margin-right: 0.75rem; /* Equivalente a Tailwind: mr-3 */
    border-radius: 0.375rem; /* Equivalente a Tailwind: rounded */
    padding: 0.4rem 1.5rem;
    font-size: 0.75rem; /* Equivalente a Tailwind: text-xs */
    font-weight: 500; /* Equivalente a Tailwind: font-medium */
    color: white; /* Equivalente a Tailwind: text-primary */
    transition-property: background-color, color; /* Equivalente a Tailwind: transition */
    transition-duration: 0.15s; /* Equivalente a Tailwind: duration-150 */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Equivalente a Tailwind: ease-in-out */
    max-height: 60px;
    
  }

  .navbar__button:hover {
    background-color: var(--terciary-1-color); /* Equivalente a Tailwind: hover:bg-neutral-100 */
    color: var(--primary-1-color); /* Equivalente a Tailwind: hover:text-primary-600 */
  }
  
  .navbar__alternativeButton:hover {
    background-color: var(--secondary-2-color);
    color: var(--terciary-1-color);
  }

  .navbar__button:focus {
    outline: none; /* Equivalente a Tailwind: focus:outline-none */
  }
  
  .navbar__button:active {
    color: #2b6cb0; /* Equivalente a Tailwind: active:text-primary-700 */
  }